<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(type='text/css', rel='stylesheet', href='https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/css/tail.datetime-default-red.css')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/css/tail.datetime-harx-light.css")
    script(type='text/javascript', src="https://cdn.jsdelivr.net/npm/tail.datetime@0.4.13/js/tail.datetime.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    script(type='text/javascript').
      document.addEventListener("DOMContentLoaded", function(){
      tail.DateTime("#tail-datetime-field", { 
        startOpen: false,
        position: "right",
        today: true,
        timeFormat: "HH:ii",
        timeStepMinutes: 30, 
        pickSeconds: false,
        showSeconds: false,
        });
      });
    include includes/navbar

    .uk-section
      .uk-container.uk-container-small.uk-flex.uk-flex-center
        form(action=`/tatoo/appointment/${tatoo._id}` method="post")
          fieldset.uk-fieldset
            if errorMessage
              .uk-flex.uk-flex-center.uk-alert-danger.uk-width-1-1(uk-alert)
                p.authErr #{errorMessage}
            .uk-margin
              label(class="uk-form-label mylabel" for="startDateHour") Schedule your tatoo
              input.uk-input.uk-form-width-medium#tail-datetime-field(type='text' name="startDateHour" autocomplete="off")
            .uk-margin
              label(class="uk-form-label mylabel" for="firstTime") Is it your first tatoo?
              label
                input.uk-radio(type='radio', name='firstTime', value="false")
                |  No
              label
                input.uk-radio(type='radio', name='firstTime' value="true")
                |  Yes
            .uk-margin
              label(class="uk-form-label mylabel" for="client_phone_number") Phone Number
              input.uk-input.uk-form-width-medium(type='text', placeholder='+52 5516951438' name="client_phone_number")
              input.tobehidden(type="text" name="title" value=tatoo.name)
              input.tobehidden(type="text" name="duration" value=tatoo.exec_time)
              input.tobehidden(type="text" name="seller" value=tatoo.authorArtist)
              input.tobehidden(type="text" name="client" value=tatoo.acquiredBy)
              input.tobehidden(type="text" name="tatoo_size" value=tatoo.size)
              input.tobehidden(type="text" name="body_part" value=tatoo.body_part)
              input.tobehidden(type="text" name="tatoo" value=tatoo._id)
          button.uk-button.uk-button-default Make Appointment
              
            

    <!-- UIkit JS -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js")
    script(src="/javascripts/script.js")
      
      
