extends layout
block content
  .uk-section
    .uk-container.uk-container-small
      form(action=`/tatoo/edit/${tatoo._id}`  enctype="multipart/form-data" method="post")
        fieldset.uk-fieldset
          //- legend.uk-legend New Tatoo Information
          if errorMessage
            .uk-flex.uk-flex-center.uk-alert-danger.uk-width-1-1(uk-alert)
              p.authErr #{errorMessage}
          .uk-margin
            label(class="uk-form-label" for="exec_time") Name
            input.uk-input(type='text', placeholder='Name for tatoo' name="name" value=tatoo.name)
          .uk-margin
            label(class="uk-form-label" for="price") Price
            input.uk-input(type='text', placeholder='Price' name="price" value=tatoo.price.value)
          .uk-margin
            label(class="uk-form-label" for="currency") Currency
            select.uk-select(name="currency")
              each opt in options.currency
                option(value=opt, selected=tatoo.price.currency === opt ? true : false)=opt
          .uk-margin
            label(class="uk-form-label" for="exec_time") Execution Time
            select.uk-select(name="exec_time")
              each option in options.exec_time
                option(value=option, selected=tatoo.exec_time === option ? true : false)=option
          .uk-margin
            textarea.uk-textarea(id="description-text-area" rows='5', placeholder='Short description for tatoo' name="description")
          div
            button.uk-button.uk-button-default(type='button', uk-toggle='target: #upload-image') Click here if you want to substitute current image
            .uk-margin(uk-margin='' id="upload-image" hidden aria-hidden="true")
              div(uk-form-custom='target: true')
                input(type='file' name="image"  uk-tooltip="Upload a substitute image")
                input.uk-input.uk-form-width-medium(type='text', placeholder='Select file(s)', disabled='')
        button.uk-button.uk-button-default Update
  script.
    let textArea = document.getElementById("description-text-area");
    console.log(!{JSON.stringify(tatoo.description)})
    textArea.value = !{JSON.stringify(tatoo.description)};