mixin card(tatoo)
  div
    .uk-card.uk-card-default
      .uk-card-header
        .uk-grid-small.uk-flex-middle(uk-grid='')
          .uk-width-auto
          .uk-width-expand
            div(class="tatoo-title-container")
              h3.uk-card-title.uk-margin-remove-bottom #{tatoo.name}
              div(class="tatoo-user-actions")
                a(href=`/tatoo/edit/${tatoo._id}`, uk-icon='pencil' ratio=0.9)
                a(href=`/tatoo/delete/${tatoo._id}`, uk-icon='trash'  ratio=0.9)
            p.uk-text-meta.uk-margin-remove-top
              time(datetime=`${tatoo.updatedAt}`) Updated: #{help.formatDate(tatoo.updatedAt)}
              p Price: #{tatoo.price.value} #{tatoo.price.currency}
              p Execution Time: #{tatoo.exec_time} hrs
      .uk-card-body
        div(uk-lightbox='')
          a(href=tatoo.image data-caption=`${tatoo.price.value} ${tatoo.price.currency}`)
            .uk-height-medium.uk-flex.uk-flex-center.uk-flex-middle.uk-background-cover.uk-light(data-src=tatoo.image, uk-img='')
              h1.tobehidden Background
      .uk-card-footer.uk-flex-center           
        p.tatoo-description
          | #{tatoo.description}
      //- .uk-card-footer Esto podra servir para la vista del comprador
      //-   a.uk-button.uk-button-text(href='#') Read more